@using EntityLayer.Concrete
@model List<SKU>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>SKU Page</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>DESCRIPTION </th>
                    <th>OLD PRICE</th>
                    <th>PRICE</th>
                    <th>CATEGORY ID</th>
                    <th>STATUS</th>
                    <th>CREATION DATE</th>
                    <th>DELETE</th>
                    <th>UPDATE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.OldPrice</td>
                        <td>@item.Price</td>
                        <td>@item.CategoryId</td>
                        <td>@item.Status</td>
                        <td>@item.CreationDate</td>
                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        <td><a href="#" class="btn btn-primary">Update</a></td>
                    </tr>

                }
            </tbody>
        </table>
        <a href="/SKU/AddSKU" class="btn btn-success">ADD</a>
    </div>

</body>
</html>